:root {
	--text-primary: 8rem;
	--text-secondary: 11rem;
}

.title {
	text-align: center;
	margin: auto;
	padding: 2rem;
	width: fit-content;
	position: sticky;
	top: 50vh;
}

.projects-section .title,
.gallery-section .title {
	position: relative;
	top: 0;
	padding: 2rem 2rem 1rem;
}

.title .primary-text {
	color: white;
	font-size: var(--text-primary);
	margin-bottom: 3rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-family: 'Fugaz One', sans-serif;
}

.title .secondary-text {
	font-size: var(--text-secondary);
	text-align: end;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-family: 'Fugaz One', sans-serif;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: hsl(196, 100%, 56%);
}

@media screen and (max-width: 768px) {
	:root {
		--text-primary: 4rem;
		--text-secondary: 5rem;
	}
	.title {
		position: relative;
		top: 0rem;
		padding: 1.5rem 1rem;
	}
	.projects-section .title,
	.gallery-section .title {
		padding: 1.5rem 1rem 1rem;
	}
}

@media screen and (max-width: 480px) {
	:root {
		--text-primary: 3rem;
		--text-secondary: 3.5rem;
	}
	.title {
		padding: 1rem 0.5rem;
	}
	.projects-section .title,
	.gallery-section .title {
		padding: 1rem 0.5rem 0.5rem;
	}
	.title .primary-text {
		margin-bottom: 1.5rem;
		font-size: 2.5rem;
	}
	.title .secondary-text {
		font-size: 3rem;
		-webkit-text-stroke-width: 2px;
	}
}
